<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация и вход</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/output.css') }}"
    />
  </head>
  <body>
    <div class="max-w-5xl mx-auto p-10 mt-20 bg-white rounded-lg shadow-md">
      <div class="flex flex-wrap justify-center gap-10">
        <div class="w-full md:w-1/2">
          <h2 class="text-3xl font-bold mb-5">Регистрация</h2>
          <form method="POST" action="" enctype="multipart/form-data">
            {{ register_form.hidden_tag() }}
            <div class="mb-5">
              {{ register_form.username.label }} {{
              register_form.username(class_='w-full p-2 border border-gray-300 \
              rounded') }}
            </div>
            <div class="mb-5">
              {{ register_form.password.label }} {{
              register_form.password(class_='w-full p-2 border border-gray-300 \
              rounded') }}
            </div>
            <div class="mb-5">
              {{ register_form.confirm_password.label }} {{
              register_form.confirm_password(class_='w-full p-2 border \
              border-gray-300 rounded') }}
            </div>
            {{ register_form.submit(class_='bg-blue-500 hover:bg-blue-700 \
            text-white font-bold py-2 px-4 rounded') }}
          </form>
        </div>
        <div class="w-full md:w-1/2">
          <h2 class="text-3xl font-bold mb-5">Вход</h2>
          <form method="POST" action="" enctype="multipart/form-data">
            {{ login_form.hidden_tag() }}
            <div class="mb-5">
              {{ login_form.username.label }} {{
              login_form.username(class_='w-full p-2 border border-gray-300 \
              rounded') }}
            </div>
            <div class="mb-5">
              {{ login_form.password.label }} {{
              login_form.password(class_='w-full p-2 border border-gray-300 \
              rounded') }}
            </div>
            <div class="flex items-center mb-5">
              {{ login_form.remember_me() }} {{ login_form.remember_me.label }}
            </div>
            {{ login_form.submit(class_='bg-blue-500 hover:bg-blue-700 \
            text-white font-bold py-2 px-4 rounded') }}
          </form>
        </div>
      </div>
      {% if message %}
      <p class="text-lg text-red-600 text-center mt-5">{{ message }}</p>
      {% endif %}
    </div>
  </body>
</html>
