<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/output.css') }}"
    />
  </head>
  <body>
    <header class="bg-gray-100 py-4 shadow-md">
      <nav class="container mx-auto flex justify-end">
        <ul class="flex items-center gap-4">
          <li>
            <a
              href="{{ url_for('auth.auth_page') }}"
              class="text-blue-600 hover:text-blue-800"
              >Выйти</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="container mx-auto p-10 mt-10">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
