<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flaskia</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/output.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        Микроблог Flaskia:
        <a href="{{ url_for('home.home_page') }}">Домой</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login_page') }}">Войти</a>
        {% else %}
        <a href="{{ url_for('home.logout') }}">Выйти</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div>
        {% for category, message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>
    <footer>&copy; 2025 Микроблог Flaskia. Все права защищены.</footer>
  </body>
</html>
