{% extends 'base.html' %} {% block content %}
<div class="max-w-5xl mx-auto p-10 mt-20 bg-white rounded-lg shadow-md">
  <h1
    class="text-5xl font-bold text-center py-5 mb-10 border-b border-gray-300"
  >
    Главная страница
  </h1>
  {% if current_user.is_authenticated %}
  <p class="text-lg text-gray-600 text-center mb-10 flex justify-center">
    <img
      src="{{ url_for('static', filename='wave_hand.gif') }}"
      alt="wave hand"
      class="w-6 h-6 mr-2"
    />
    Привет, {{ user.username }}!
  </p>
  {% endif %}
  <div>
  {% for post in posts %}
  <div>
    <div>
      <h3">{{ post.author.username }}</h3>
      <p>Дата публикации: DD:MM:YYYY</p>
    </div>
    <b>{{ post.body }}</b>
  </div>
  
  {% endfor %}
  
</div>
</div>
{% endblock %}
